*{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    width: 50px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    outline: 0px 0px 10px white;
    transition: 0.5s;
}
.img{
    width: 450px;
    height: 550px;

}
.box:hover{
    width: 350px;
}
.box:hover .description {
    transition-delay: 0.1s;
    opacity: 1;
    width: 350px;
}
body{
    background-color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description h3 a{
    font-size: 30px;
    margin: 0;
    text-decoration: none;
    color:white;
}
.description p {
    font-size: 20px;
    margin: 0;
}
.description {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    outline: 0px 0px 10px white;
    opacity: 0;
    transition: 0.3s;
}